<div class="card-wrapper">
    <div class="overflow-hidden rounded-xl h-[200px]">
        <img 
            class="w-full h-full object-cover transition"
            src="{{feature_image}}" 
            alt="{{#if feature_image_alt }}{{feature_image_alt }}{{else}}{{feature_image_caption }}{{/if}}"
        ></img>
    </div>
    <div class="flex flex-col justify-between">
        <span class="font-bold text-[22px] text-black px-8 py-4 my-auto">{{title}}</span>
        <div class="read-more-wrapper flex justify-between w-full px-8 py-4 items-center">
            {{#if authors}}
                {{#foreach authors limit="1"}}
                <div>
                    <span class="text-[12px] text-black/60">By </span><span class="text-[12px]">{{name}}</span><span class="text-[12px] text-black/60"> - {{date published_at}} </span>
                </div>
                {{/foreach}}
            {{/if}}
            <a class="font-bold text-[14px]" href="{{url}}">Read More</a>
        </div>
    </div>
</div>