<!DOCTYPE html>
<html class="scroll-smooth" lang="{{@site.locale}}">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href='{{asset "build/tailwind.css"}}' />

    <title>{{meta_title}}</title>

    {{!-- Outputs important meta data and settings, should always be in

    <head> --}}

        {{ghost_head}}

    </head>

<body class="{{body_class}} overflow-x-hidden overflow-y-auto">
    {{> header}}

    <div class="w-screen py-16">
        <div class="flex justify-between px-4 xl:px-0 max-w-[1280px] mx-auto">
            {{{body}}}
        </div>
    </div>

    {{> footer}}


    {{ghost_foot}}
    {{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>

</html>